<!--View Information-->
<!--View name : Online Course-->
<!--State name : app.onlineCourse-->
<!--URL : #app/onlineCourse-->
<!--Online course section-->
<ion-view title="Manage Students" id="online-course">
     <!--end left button on navigation bar-->
    <!--toolbar section-->
    <ion-content ng-init="getAllStudents()">   
        <center><h4>Add Auto Defaulter </h4></center>
            <div class="row">
        <div class="col-33 item  no-border">
            <!--<md-select ng-model="a" class="custom">
                <md-option selected="selected">Class</md-option>
                <md-option>BCOM</md-option>
                <md-option>MCOM</md-option>
                <md-option>FYJC</md-option>
            </md-select>-->
        </div>
        <div class="col-50 item no-border" >
            <md-select ng-model="course" class="custom" ng-change="loadAutoDefaulter(course)">
                <md-option selected="selected" value="">Course</md-option>
                <md-option ng-repeat="corse in Course" value="{{corse.id}}">{{corse.name}}</md-option>
            </md-select>
        </div>
        <div class="col-33 item no-border" >
           <!-- <md-select ng-model="c">
                <md-option selected="selected">Division</md-option>
                <md-option>A</md-option>
                <md-option>B</md-option>
                <md-option>C</md-option>
            </md-select>-->
        </div>
    </div>
        </div>
        <div class="row">
                <div class="col-10 item  no-border"></div>
       <div class="col-80 item " >
            <textarea placeholder="Write Your Notice Here" ng-model="noticeDesc" style="width:100%"></textarea>
        </div>
        </div>
        <div class="row">
        <div class="col-33"></div>
       
        </div>
<div class="row">
         <div class="col-25"></div>
        <div class="col-70"><input type="text" placeholder="Enter Cutoff % here" ng-model="cutoff"></div>
        </div>
        <center>
         <div class="col"><a href="" ng-click="openLink()" class="md-raised md-button md-default-theme ios-course-background" ng-if="noticeLink">
                                View Notice</a></div></center>
       <a class="button button-full button-positive" ng-click="saveAutoDefaulter(course,cutoff,noticeDesc)" tabindex="0">
Save Progress
</a>
    </ion-content>
    <!--  
<div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" aria-label="Add"> <i class="ion-android-star"></i> </a>
    </div>-->
</ion-view>
<!--end online course section-->