<ion-popover-view>
    <ion-content>
        <div class="list">
            <!--<a class="item" ng-click="goacademic()"> <i class="ion ion-ios-calendar"></i> &nbsp; Academic Year </a>-->
            <a class="item" ng-click="goedittime()" ng-if="canEditTimeTable"> <i class="ion ion-edit"></i> &nbsp;Edit timetable </a>
            <!--<a class="item" ng-click="gosyllabus()"> <i class="ion ion-ios-bookmarks"></i>&nbsp; Syllabus Manager </a>-->
<!--            <a class="item" ng-click="gocloud()"> <i class="ion ion-cloud"></i>&nbsp; My Cloud </a>-->
            <a class="item" ng-click="closepops()"> <i class="ion ion-android-close"></i>&nbsp; Close </a>
        </div>
    </ion-content>
</ion-popover-view>