USE [master]
GO
/****** Object:  Database [Okyc]    Script Date: 05-02-2017 23:20:12 ******/
CREATE DATABASE [Okyc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Okyc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Okyc.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Okyc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Okyc_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Okyc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Okyc]
GO
/****** Object:  StoredProcedure [dbo].[spAttendanaceStats]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Exec spAttendanaceStats 'DesiredAttendance',1,2,'2017-04-01','2017-04-30',80
--Exec spAttendanaceStats 'Defaulter',1,2,'2017-04-01','2017-04-30',18

CREATE proc [dbo].[spAttendanaceStats]
(
@flag varchar(100),
@Studid varchar(100),
@Subjid varchar(100),
@Fromdate datetime,
@Todate datetime,
@Percent numeric(18,0)
)
as
set nocount on
Begin
if(@flag='DesiredAttendance')
Begin

Select * into #Countmaster from(
select sum(totalcnt) as Total from
(
select *,(a.datecnt* b.subcnt)as totalcnt from 
(select count(date) as datecnt,day from calendermaster where date between @Fromdate and @Todate group by day)a 
left outer join 
(SELECT count(subjectid) as subcnt, subjectid, dayid,dayname  FROM timetablemaster a 
left outer join daymaster b on a.dayid=b.id WHERE subjectid=@Subjid group by dayid,subjectid,dayname) b on a.day=b.dayname
)a
) as TotalCnt,
(SELECT count(*) as LapseCnt FROM contentmaster a left outer join timetablemaster b on a.timetableid=b.id 
WHERE b.subjectid=@Subjid and  verify='0' and date between  @Fromdate and @Todate) as LapseCnt,
(SELECT count(id) LectDone FROM attendence where studentid = '0' and subjectid=@Subjid and (Attendencedatae  BETWEEN @Fromdate AND @Todate)) as DoneCnt,
(SELECT count(id) as presentcnt FROM attendence where studentid = @Studid and subjectid=@Subjid and (Attendencedatae  BETWEEN @Fromdate AND @Todate)) as PresentCnt

Select *,round(((Total-LapseCnt)*cast(@Percent as float)/cast(100 as float)),0) overallreq,(Total-LapseCnt-LectDone)Lectureremains,((Total-LapseCnt-LectDone)-presentcnt)NeededtoAttend from #Countmaster

END



if(@flag='Defaulter')
Begin

Select * into #Count1 from(
select sum(totalcnt) as Total from
(
select *,(a.datecnt* b.subcnt)as totalcnt from 
(select count(date) as datecnt,day from calendermaster where date between @Fromdate and @Todate group by day)a 
left outer join 
(SELECT count(subjectid) as subcnt, subjectid, dayid,dayname  FROM timetablemaster a 
left outer join daymaster b on a.dayid=b.id WHERE subjectid=@Subjid group by dayid,subjectid,dayname) b on a.day=b.dayname
)a
) as TotalCnt,
(SELECT count(*) as LapseCnt FROM contentmaster a left outer join timetablemaster b on a.timetableid=b.id 
WHERE b.subjectid=@Subjid and  verify='0' and date between  @Fromdate and @Todate) as LapseCnt
Declare @total numeric(18,2)
Declare @required numeric(18,2)
set @total= (select (Total-LapseCnt) from #Count1)
set @required=(Select ((Total-LapseCnt)*cast(@Percent as float)/cast(100 as float)) overallreq from #Count1)


SELECT studentid,count(*) as Attended,@total as Total,@required as required into #defaulter FROM [studbud].[dbo].[attendence] where subjectid=@Subjid group by studentid

select *,cast((Attended/total*100)as numeric(18,2))  as per from #defaulter where Attended<required

END
End

GO
/****** Object:  StoredProcedure [dbo].[spAttendance]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--spAttendance 'MarkAttendance','','2017-05-01 01:42:25.587','1','1,3','1','2','1','2'
--spAttendance 'IndividualAttendance','1','2017-04-24 01:42:25.587','1','1,3','1','2','1','2'
--spAttendance 'MarkIndividualAttendance','1','2017-05-01 01:42:25.587','','','','','','1,2'
--spAttendance 'ClassAttendance','','2017-05-01 01:42:25.587','','','1','','',''  
--spAttendance 'MarkClassAttendance','','2017-05-03 01:42:25.587','','','1','1,2','','' 
CREATE proc [dbo].[spAttendance]
(
@flag varchar(100),
@Studid varchar(MAX)='',
@date datetime='',
@Teacherid varchar(100)='',
@attendance varchar(MAX)='',
@courseid varchar(100)='',
@slot varchar(100)='',
@dayid varchar(50)='',
@subjectid varchar(MAX)=''
)
as
set nocount on
Begin
--get RollNo for current lecture at teachers end
if(@flag='GetStudid')
Begin
SELECT studentid,sm.courseid,teacherid,slot,dayid,subjectid FROM assignstudent asmm
left outer join slotmaster sm on asmm.courseid = sm.courseid
left outer join timetablemaster tm on sm.slotnumber=tm.slot
left outer join assignsubject asb on tm.subjectid=asb.subid
left outer join daymaster dm on dm.id=tm.dayid
left outer join coursemaster cm on cm.id=tm.courseid
where dm.Dayname= DATENAME(weekday,@date) AND asb.teacherid=@Teacherid AND
--sm.fromslot BETWEEN CONVERT(varchar,dateadd(hour,-1,getdate()),108) AND CONVERT(varchar,GETDATE(),108)
cast(@date as time) BETWEEN sm.fromslot and sm.toslot
END
--Mark Attendance
if(@flag='MarkAttendance')
Begin
DECLARE @t TABLE
(
studentid VARCHAR(MAX),
courseid INT,
teacherid INT,
slot INT,
dayid INT,
subjectid INT,
Adate datetime
)
--INSERT @t VALUES ('1,13,6,15,8,9',1,1,2,1,2,'2017-04-24')
INSERT @t VALUES (@attendance,@courseid,@Teacherid,@slot,@dayid,@subjectid,@date)
SELECT courseid,teacherid,slot,dayid,subjectid,
LTRIM(RTRIM(m.n.value('.[1]','varchar(MAX)'))) AS studentid,Adate into #ToBemarked
FROM
(
SELECT courseid,teacherid,slot,dayid,subjectid,CAST('<XMLRoot><RowData>' + REPLACE(studentid,',','</RowData><RowData>') + '</RowData></XMLRoot>' AS XML) AS x,adate
FROM @t
)t
CROSS APPLY x.nodes('/XMLRoot/RowData')m(n)
select *,ROW_NUMBER() OVER (ORDER BY studentid) as counter into #FinalMarked from #ToBemarked
Declare @RowCount INT
Set @RowCount=(Select Count(*) from #FinalMarked)
DECLARE @row INT
SET @row = 1
WHILE (@row <=@RowCount)
BEGIN
Declare @verifyID INT
Set @verifyID=(Select studentid from #FinalMarked where counter=@row)
if not exists(
Select * from Attendence where studentid=@verifyID and courseid=@courseid and teacherid=@Teacherid and slotid=@slot and dayid=@dayid and subjectid=@subjectid and cast(Attendencedatae as date)=cast(@date as date))
Begin
insert into attendence (studentid,courseid,teacherid,slotid,dayid,Entrydate,Attendencedatae,Attendencestatus,Subjectid)
--select top 0 * from attendence
select studentid,courseid,teacherid,slot,dayid,adate,adate,1,subjectid from #FinalMarked where counter=@row
End
SET @row = @row + 1
END
--Select * from Attendence where studentid=@verifyID and courseid=@courseid and teacherid=@Teacherid and slotid=@slot and dayid=@dayid and subjectid=@subjectid and cast(Attendencedatae as date)=cast(@date as date)
End

--Individual Attendance
if(@flag='IndividualAttendance')
Begin
select tt.*,cm.date,cm.verify into #ttmaster from timetablemaster tt
left outer join daymaster dm on tt.dayid=dm.id
left outer join contentmaster cm on tt.id=cm.timetableid
where dm.Dayname= DATENAME(weekday,@date) and cast(date as date)=cast(@date as date)
select * into #AttStatus from (select *,'P' as AttStatus from #ttmaster where slot in(
select slotid from attendence where studentid=@Studid and cast(Attendencedatae as date)=cast(@date as date))
union all
select *,'A' as AttStatus from #ttmaster where slot not in(
select slotid from attendence where studentid=@Studid and cast(Attendencedatae as date)=cast(@date as date)))z
select a.*,b.name as SubName,
(select name from studentmaster where id=@Studid) as Studname
from #AttStatus a
left outer join subjectmaster b on a.subjectid=b.id where AttStatus='A'
End

--Mark Individual Attendance
if(@flag='MarkIndividualAttendance')
Begin
select a.*,d.teacherid,b.Dayname,c.date into #indMaster
from timetablemaster a
left outer join daymaster b on a.dayid=b.id
left outer join calendermaster c on b.dayname=c.day
left outer join assignsubject d on a.subjectid=d.subid
where cast(c.date as date)=cast(@date as date) and a.courseid in (select courseid from assignstudent where studentid=@Studid)
--Declare @courseidind int
--Declare @teacheridind int
--Declare @slotind int
--Declare @dayidind int
DECLARE @ind TABLE
(
subjectid VARCHAR(MAX),
Adate datetime
)
INSERT @ind VALUES (@subjectid,@date)
--INSERT @ind VALUES (@subjectid,@date)
SELECT LTRIM(RTRIM(m.n.value('.[1]','varchar(MAX)'))) AS subjectid,Adate into #ToBemarkedind
FROM
(
SELECT CAST('<XMLRoot><RowData>' + REPLACE(subjectid,',','</RowData><RowData>') + '</RowData></XMLRoot>' AS XML) AS x,adate
FROM @ind
)t
CROSS APPLY x.nodes('/XMLRoot/RowData')m(n)
--select * from #ToBemarkedind
select *,ROW_NUMBER() OVER (ORDER BY subjectid) as counter into #FinalMarkedind from #ToBemarkedind
Declare @RowCountind INT
Set @RowCountind=(Select Count(*) from #FinalMarkedind)
DECLARE @rowind INT
SET @rowind = 1
WHILE (@rowind <=@RowCountind)
BEGIN
Declare @verifyIDind INT
Set @verifyIDind=(Select subjectid from #FinalMarkedind where counter=@rowind)
Declare @courseidind int
Declare @teacheridind int
Declare @slotind int
Declare @dayidind int
set @courseidind =(select top 1 courseid from #indMaster where subjectid= @verifyIDind )
Set @teacheridind=(select top 1 teacherid from #indMaster where subjectid= @verifyIDind )
Set @slotind=(select top 1 slot from #indMaster where subjectid= @verifyIDind )
Set @dayidind=(select top 1 dayid from #indMaster where subjectid= @verifyIDind )
if not exists(
Select * from Attendence where studentid=@Studid and courseid=@courseidind and teacherid=@teacheridind and slotid=@slotind and dayid=@dayidind and subjectid=@verifyIDind and cast(Attendencedatae as date)=cast(@date as date))
Begin
insert into attendence (studentid,courseid,teacherid,slotid,dayid,Entrydate,Attendencedatae,Attendencestatus,Subjectid)
select @Studid,@courseidind,@teacheridind,@slotind,@dayidind,getdate(),adate,1,subjectid from #FinalMarkedind where counter=@rowind
--select * from #indMaster
End
SET @rowind = @rowind + 1
END
select 'Success' as Message
--Select * from Attendence where studentid=@verifyID and courseid=@courseid and teacherid=@Teacherid and slotid=@slot and dayid=@dayid and subjectid=@subjectid and cast(Attendencedatae as date)=cast(@date as date)
End

--Class Attendance
if(@flag='ClassAttendance')
Begin

select a.*,b.Dayname,e.name as SubjectName,c.description,d.fromslot,d.toslot from timetablemaster a 
left outer join daymaster b on a.dayid=b.id 
left outer join contentmaster c on a.id=c.timetableid
left outer join slotmaster d on a.slot=d.slotnumber
left outer join subjectmaster e on a.subjectid=e.id

where a.courseid=@courseid and b.Dayname=DATENAME(weekday,@date) and (c.verify='1' or c.verify is null)
End

--Mark Class Attendance
if(@flag='MarkClassAttendance')
BEGIN
--To get Slots number in columns
DECLARE @cls TABLE
(
slotnum VARCHAR(MAX)
)
--INSERT @cls VALUES ('1,2')
INSERT @cls VALUES (@slot)
SELECT LTRIM(RTRIM(m.n.value('.[1]','varchar(MAX)'))) AS slotnum into #GetSlots
FROM
(
SELECT CAST('<XMLRoot><RowData>' + REPLACE(slotnum,',','</RowData><RowData>') + '</RowData></XMLRoot>' AS XML) AS x
FROM @cls
)t
CROSS APPLY x.nodes('/XMLRoot/RowData')m(n)

--Prepare Masterdata for Insertion
select e.studentid,a.courseid,d.teacherid,a.slot,a.dayid,a.subjectid  into #ToBeMarkedClass
 from timetablemaster a 
left outer join daymaster b on a.dayid=b.id 
left outer join contentmaster c on a.id=c.timetableid
left outer join assignsubject d on a.subjectid=d.subid 
left outer join assignstudent e on a.courseid=e.courseid 
where a.courseid=@courseid and b.Dayname=DATENAME(weekday,@date) and (c.verify='1' or c.verify is null) and a.slot in (select distinct slotnum from #GetSlots)

select *,ROW_NUMBER() OVER (ORDER BY slot,studentid) as counter into #FinalMarkedClass 
from #ToBeMarkedClass


Declare @RowCountClass INT
Set @RowCountClass=(Select Count(*) from #FinalMarkedClass)
DECLARE @rowClass INT
SET @rowClass = 1
WHILE (@rowClass <=@RowCountClass)
BEGIN

Declare @StudentidClass INT
Declare @SubjectidClass INT
Declare @courseidClass int
Declare @teacheridClass int
Declare @slotClass int
Declare @dayidClass int

Set @StudentidClass=(Select top 1 studentid from #FinalMarkedClass where counter=@rowClass)
Set @SubjectidClass=(Select top 1 subjectid from #FinalMarkedClass where counter=@rowClass)
set @courseidClass =(select top 1 courseid from #FinalMarkedClass where counter= @rowClass )
Set @teacheridClass=(select top 1 teacherid from #FinalMarkedClass where counter= @rowClass )
Set @slotClass=(select top 1 slot from #FinalMarkedClass where counter= @rowClass )
Set @dayidClass=(select top 1 dayid from #FinalMarkedClass where counter= @rowClass )
--if attendace not exists then only insert
if not exists(
Select * from Attendence where studentid=@StudentidClass and courseid=@courseidClass and teacherid=@teacheridClass and slotid=@slotClass and dayid=@dayidClass and subjectid=@SubjectidClass and cast(Attendencedatae as date)=cast(@date as date))
Begin
insert into attendence (studentid,courseid,teacherid,slotid,dayid,Entrydate,Attendencedatae,Attendencestatus,Subjectid)
Values ( @StudentidClass,@courseidClass,@teacheridClass,@slotClass,@dayidClass,getdate(),getdate(),1,@SubjectidClass)-- from #FinalMarkedind where counter=@rowind
--select * from #indMaster
End
SET @rowClass = @rowClass + 1
END
select 'Success' as Message
END
--Get todays teacher lecture list
--if(@flag='TeacherlecList')
--Begin
--SELECT *,CONVERT(varchar,dateadd(hour,0,getdate()),108) FROM slotmaster sm
--left outer join timetablemaster tm on sm.slotnumber=tm.slot
--left outer join assignsubject asb on tm.subjectid=asb.subid
--left outer join daymaster dm on dm.id=tm.dayid
--left outer join coursemaster cm on cm.id=tm.courseid
--left outer join contentmaster c on c.timetableid=tm.id And sm.slotnumber=c.slotnumber
--where dm.Dayname= DATENAME(weekday,getdate()) AND
--asb.teacherid=1 AND c.date=getdate() And sm.fromslot BETWEEN CONVERT(varchar,dateadd(hour,0,getdate()),108) AND CONVERT(VARCHAR, CAST('23:50:00' AS DATETIME), 108)
--END
END
GO
/****** Object:  StoredProcedure [dbo].[spEventAttendence]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC spEventAttendence 'Mark',1,1,'2017-05-10','2017-05-20',1
--Exec spEventAttendence 'APPROVED','',1,'','',2,''

CREATE proc [dbo].[spEventAttendence]
(
@flag varchar(100),
@Studid int=0,
@eventid int=0,
@fromdate date=null,
@todate date=null,
@ApprovedBy int=0,
@Approvedstatus varchar(50)=''
)
as
set nocount on
Begin

if(@flag='Mark')
BEGIN
select date,day into #daycountlogic  from calendermaster where  cast(date as date) between cast(@fromdate as date) and cast(@todate as date) and day not IN ('Sunday','Saturday') 

Insert into PendingAttendenceLog (studentid,courseid,teacherid,slotid,dayid,Entrydate,Attendencedatae,Attendencestatus,Subjectid,eventid,ApprovalStatus,Approvedby,approvalremark)
 (SELECT studentid,asmm.courseid,teacherid,sm.id as slotid,tm.dayid,GetDate(),dcl.date,'Present',tm.subjectid,@eventid,'Pending',@ApprovedBy,'Test' FROM assignstudent asmm
left outer join slotmaster sm on asmm.courseid = sm.courseid
left outer join timetablemaster tm on sm.slotnumber=tm.slot
left outer join assignsubject asb on tm.subjectid=asb.subid
left outer join daymaster dm on dm.id=tm.dayid
left outer join coursemaster cm on cm.id=tm.courseid
left outer join #daycountlogic dcl on dcl.day=dm.Dayname
where studentid=@Studid)


    select 'Process Completed Successfully!!' as Message   

END


if(@flag='LoadCount')
Begin
select b.eventid,b.EventName,count(*) as cnt from   PendingAttendenceLog a left outer join eventmaster b on a.eventid=b.EventId where ApprovalStatus='Pending' group by  b.eventid,b.EventName
End

if(@flag = 'APPROVED')

Begin
BEGIN TRY 
BEGIN TRAN ApproveEvent  

select *,ROW_NUMBER() OVER (ORDER BY subjectid) as counter into #FinalMarkedind from PendingAttendenceLog where  eventid=@eventid and ApprovalStatus='Pending'
Declare @RowCountind INT
Set @RowCountind=(Select Count(*) from #FinalMarkedind)
DECLARE @rowind INT
SET @rowind = 1
WHILE (@rowind <=@RowCountind)
BEGIN
Declare @verifyIDind INT
Set @verifyIDind=(Select subjectid from #FinalMarkedind where counter=@rowind)

 Declare @courseidind int
 Declare @teacheridind int
 Declare @slotind int
 Declare @dayidind int
 Declare @LecDate Date
 set @courseidind =(select  top 1 courseid from  #FinalMarkedind where counter=@rowind )
 Set @teacheridind=(select  top 1 teacherid from  #FinalMarkedind where counter=@rowind )
 Set @slotind=(select  top 1 slotid from  #FinalMarkedind where counter=@rowind )
 Set @dayidind=(select  top 1  dayid from  #FinalMarkedind where counter=@rowind) 
 Set @LecDate=(select  top 1  Attendencedatae from  #FinalMarkedind where counter=@rowind)
 

if not exists(
Select * from attendence where cast(Attendencedatae as date)=cast(@LecDate as date)  and courseid=@courseidind and teacherid=@teacheridind and slotid=@slotind and dayid=@dayidind and subjectid=@verifyIDind
)
Begin
	insert into attendence (studentid,courseid,teacherid,slotid,dayid,Entrydate,Attendencedatae,Attendencestatus,Subjectid)
	select studentid,@courseidind,@teacheridind,@slotind,@dayidind,getdate(),@LecDate,1,subjectid from #FinalMarkedind where counter=@rowind
End
SET @rowind = @rowind + 1
END

Update PendingAttendenceLog set ApprovalStatus='Approved',Approvedby=@ApprovedBy  where eventid=@eventid
select 'Success'
--Select * from Attendence where studentid=@verifyID and courseid=@courseid and teacherid=@Teacherid and slotid=@slot and dayid=@dayid and subjectid=@subjectid and cast(Attendencedatae as date)=cast(@date as date)


  COMMIT TRAN ApproveEvent
    select 'Process Completed Successfully!!' as Message                                                    
  --RETURN 0     

End TRY
BEGIN CATCH    
  ROLLBACK TRAN ApproveEvent                                                      
  select 'Error Occured while processing... ' as Message               
 
  --RETURN 1       
END CATCH 
End
END


GO
/****** Object:  StoredProcedure [dbo].[SpGetAllDetails]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[SpGetAllDetails] 2,0,'LoadSubjectsForTech'
CREATE proc [dbo].[SpGetAllDetails]
(
@teacherid int=0,
@Studentid int=0,
@flag varchar(25)='',
@material varchar(MAX)='',
@timetableid int=0
)
as
set nocount on
begin
if(@flag='LoadCourseByTeacher')
begin
select * from teachermaster
where id=@teacherid
End
if(@flag='LoadstudByCourse')
begin
select * from studentmaster
where id=@Studentid
End
if(@flag='LoadSubjectsForStud')
begin
select id, name as SubjectName from subjectmaster
where course in (select courseid from [assignstudent] where studentid=@Studentid )
End
if(@flag='LoadSubjectsForTech')
begin
select id, name as SubjectName from subjectmaster
where id in (select subid from [assignsubject] where teacherid=@teacherid )
End
if(@flag='GetStudMaster')
begin
select * from studentmaster
End
if(@flag='GetCourseMaster')
begin
select * from coursemaster
End
if(@flag='LoadEvent')
begin
select * from EventMaster where Status='Active'
End
if(@flag='UpdateMaterial')
Begin
Declare @content varchar(max)
set @content =(select isnull(material,'') from contentmaster where timetableid=@timetableid)+','
Update contentmaster set material=@content+@material where timetableid=@timetableid
select 'Updated Successfuly' as Message
End
End
GO
/****** Object:  StoredProcedure [dbo].[splecturemaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[splecturemaster]
(
@flag varchar(100),
@Studid varchar(100)='',
@TeacherId varchar(100)='',
@date datetime
)
as
set nocount on
Begin
if(@flag='todayslecturestud')
Begin
if(@date='' or @date=null)
Begin
set @date=getdate()
end
select f.fromslot as LectStart,f.toslot as LectEnd,DATEDIFF(MINUTE, f.fromslot ,f.toslot) AS LectDuration,c.name as subjectName,b.description ,b.verify,b.material ,d.location from timetablemaster a
LEFT OUTER JOIN contentmaster b ON a.id = b.timetableid
LEFT OUTER JOIN subjectmaster c ON a.subjectid = c.id
LEFT OUTER JOIN location d ON a.id = d.timetableid
left outer join daymaster e on a.dayid=e.id
left outer join slotmaster f on a.slot=f.id
where e.dayname=DATENAME(dw,@date) and cast(b.date as date)=cast(@date as date) and
a.courseid in (select a.id from coursemaster a left outer join assignstudent b on a.id=b.courseid where b.studentid=@Studid)
End
if(@flag='todayslectureTeacher')
Begin
if(@date='' or @date=null)
Begin
set @date=getdate()
end
select f.fromslot as LectStart,f.toslot as LectEnd,DATEDIFF(MINUTE, f.fromslot ,f.toslot) AS LectDuration,c.name as subjectName,b.description ,b.verify,b.material ,d.location, b.timetableid as TimeTableId from timetablemaster a
LEFT OUTER JOIN contentmaster b ON a.id = b.timetableid
LEFT OUTER JOIN subjectmaster c ON a.subjectid = c.id
LEFT OUTER JOIN location d ON a.id = d.timetableid
left outer join daymaster e on a.dayid=e.id
left outer join slotmaster f on a.slot=f.id
where e.dayname=DATENAME(dw,@date) and cast(b.date as date)=cast(@date as date)
and a.subjectid in (select subid from assignsubject where teacherid = @TeacherId)
End
End

GO
/****** Object:  StoredProcedure [dbo].[splogin]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[splogin]
(
@flag varchar(100),
@userid varchar(100),
@password varchar(50)
)
as
set nocount on
Begin
if(@flag='StudLogin')
Begin
select * from studbud..studentmaster where enrollmentno=@userid and password=@password
End

if(@flag='TeacherLogin')
Begin
select * from studbud..Teachermaster where username=@userid and password=@password
End

End



GO
/****** Object:  StoredProcedure [dbo].[StudentAddUpdate]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[StudentAddUpdate]
(
@Type varchar(100)='',
@Studid int=0,
@EnrollNo varchar(20)='',
@Name varchar(50)='',
@Password varchar(50)='',
@Lati varchar(20)='',
@Longi varchar(20)=''
)
as begin
if(@Type='AddStudent')
begin
INSERT INTO studentmaster(enrollmentno, name, password, lati, longi,reportedat) 
VALUES (@EnrollNo,@Name,@Password,@Lati,@Longi,getdate())
select @@IDENTITY as StudID,'New Student added successfully' as Message
end

if(@Type='UpdateStudLocation')
begin
update studentmaster set  lati=@Lati, longi=@Longi where  id=@Studid
select 'Location Updated successfully' as Message
end
end
--select * from studentmaster
--StudentAddUpdate 'AddStudent','','02145','Vaibhav Gole','fdfgfgdf','12.8416','79.0022'




GO
/****** Object:  Table [dbo].[assignstudent]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assignstudent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentid] [int] NOT NULL,
	[courseid] [int] NOT NULL,
 CONSTRAINT [PK__assignst__3213E83FD6FB642B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[assignsubject]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assignsubject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[subid] [int] NOT NULL,
	[teacherid] [int] NOT NULL,
 CONSTRAINT [PK__assignsu__3213E83F160CAB84] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[attendence]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[attendence](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentid] [int] NOT NULL,
	[courseid] [int] NOT NULL,
	[teacherid] [int] NOT NULL,
	[slotid] [int] NOT NULL,
	[dayid] [int] NOT NULL,
	[Entrydate] [datetime2](0) NOT NULL,
	[Attendencedatae] [datetime2](0) NOT NULL,
	[Attendencestatus] [varchar](50) NOT NULL,
	[Subjectid] [int] NOT NULL,
 CONSTRAINT [PK__attenden__3213E83F6F5612B7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[calendermaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[calendermaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [varchar](50) NOT NULL,
	[day] [varchar](200) NOT NULL,
 CONSTRAINT [PK__calender__3213E83F82B1F2A5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contentmaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contentmaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[timetableid] [int] NOT NULL,
	[description] [varchar](max) NOT NULL,
	[verify] [smallint] NOT NULL,
	[material] [varchar](max) NOT NULL,
	[remarks] [varchar](max) NOT NULL,
	[slotnumber] [int] NOT NULL,
 CONSTRAINT [PK__contentm__3213E83FDBA07D5E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[coursemaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[coursemaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](max) NOT NULL,
	[fromdate] [datetime2](0) NOT NULL,
	[todate] [datetime2](0) NOT NULL,
	[course] [varchar](50) NULL,
	[year] [varchar](50) NULL,
 CONSTRAINT [PK__coursema__3213E83F9C69D663] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[daymaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[daymaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Dayname] [varchar](10) NOT NULL,
 CONSTRAINT [PK__daymaste__3213E83F3C5430EC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventMaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventMaster](
	[EventId] [int] IDENTITY(100,1) NOT NULL,
	[EventName] [varchar](50) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[location]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[timetableid] [int] NOT NULL,
	[location] [varchar](100) NOT NULL,
 CONSTRAINT [PK__location__3213E83FE272BC06] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[noticemap]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[noticemap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[noticeid] [int] NOT NULL,
	[courseid] [int] NOT NULL,
 CONSTRAINT [PK__noticema__3213E83FE7DDA0AA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[notices]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[notices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NOT NULL,
	[content] [varchar](max) NULL,
	[poster] [int] NOT NULL,
	[views] [int] NULL,
	[attach] [int] NULL,
	[postdate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__notices__3213E83F9D1C2688] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PendingAttendenceLog]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PendingAttendenceLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentid] [int] NOT NULL,
	[courseid] [int] NOT NULL,
	[teacherid] [int] NOT NULL,
	[slotid] [int] NOT NULL,
	[dayid] [int] NOT NULL,
	[Entrydate] [datetime2](0) NOT NULL,
	[Attendencedatae] [datetime2](0) NOT NULL,
	[Attendencestatus] [varchar](50) NOT NULL,
	[Subjectid] [int] NOT NULL,
	[eventid] [int] NOT NULL,
	[ApprovalStatus] [varchar](50) NULL,
	[Approvedby] [int] NULL,
	[approvalremark] [varchar](50) NULL,
 CONSTRAINT [PK_PendingAttendenceLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[slotmaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slotmaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[slotnumber] [int] NOT NULL,
	[courseid] [int] NOT NULL,
	[fromslot] [time](0) NOT NULL,
	[toslot] [time](0) NOT NULL,
 CONSTRAINT [PK__slotmast__3213E83F8241F694] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[studentmaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[studentmaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[enrollmentno] [varchar](max) NOT NULL,
	[name] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[longi] [decimal](10, 4) NULL,
	[lati] [decimal](10, 4) NULL,
	[reportedat] [datetime2](0) NULL,
 CONSTRAINT [PK__studentm__3213E83F00CA943E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[subjectmaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[subjectmaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](max) NOT NULL,
	[course] [int] NOT NULL,
	[description] [varchar](max) NOT NULL,
 CONSTRAINT [PK__subjectm__3213E83F6FA8A63A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[teachermaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[teachermaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](max) NULL,
	[name] [varchar](max) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[longi] [decimal](10, 4) NULL,
	[lati] [decimal](10, 4) NULL,
	[reportedat] [datetime2](0) NULL,
	[privilege] [numeric](18, 0) NULL,
 CONSTRAINT [PK__teacherm__3213E83FF23612A8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[timetablemaster]    Script Date: 05-02-2017 23:20:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timetablemaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[courseid] [int] NOT NULL,
	[slot] [int] NOT NULL,
	[subjectid] [int] NOT NULL,
	[dayid] [int] NOT NULL,
	[location] [int] NOT NULL,
 CONSTRAINT [PK__timetabl__3213E83F80D97970] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[assignstudent] ON 

INSERT [dbo].[assignstudent] ([id], [studentid], [courseid]) VALUES (1, 1, 1)
INSERT [dbo].[assignstudent] ([id], [studentid], [courseid]) VALUES (2, 2, 1)
INSERT [dbo].[assignstudent] ([id], [studentid], [courseid]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[assignstudent] OFF
SET IDENTITY_INSERT [dbo].[assignsubject] ON 

INSERT [dbo].[assignsubject] ([id], [subid], [teacherid]) VALUES (1, 1, 2)
INSERT [dbo].[assignsubject] ([id], [subid], [teacherid]) VALUES (2, 3, 1)
INSERT [dbo].[assignsubject] ([id], [subid], [teacherid]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[assignsubject] OFF
SET IDENTITY_INSERT [dbo].[attendence] ON 

INSERT [dbo].[attendence] ([id], [studentid], [courseid], [teacherid], [slotid], [dayid], [Entrydate], [Attendencedatae], [Attendencestatus], [Subjectid]) VALUES (1, 1, 1, 1, 2, 1, CAST(0x00000000BA3C0B0000 AS DateTime2), CAST(0x00000000BA3C0B0000 AS DateTime2), N'1', 2)
INSERT [dbo].[attendence] ([id], [studentid], [courseid], [teacherid], [slotid], [dayid], [Entrydate], [Attendencedatae], [Attendencestatus], [Subjectid]) VALUES (2, 2, 1, 1, 2, 1, CAST(0x00000000BA3C0B0000 AS DateTime2), CAST(0x00000000BA3C0B0000 AS DateTime2), N'1', 2)
INSERT [dbo].[attendence] ([id], [studentid], [courseid], [teacherid], [slotid], [dayid], [Entrydate], [Attendencedatae], [Attendencestatus], [Subjectid]) VALUES (3, 3, 1, 1, 2, 1, CAST(0x00000000BA3C0B0000 AS DateTime2), CAST(0x00000000BA3C0B0000 AS DateTime2), N'1', 2)
SET IDENTITY_INSERT [dbo].[attendence] OFF
SET IDENTITY_INSERT [dbo].[calendermaster] ON 

INSERT [dbo].[calendermaster] ([id], [date], [day]) VALUES (9, N'2017-01-02 00:00:00', N'Monday')
INSERT [dbo].[calendermaster] ([id], [date], [day]) VALUES (10, N'2017-01-03 00:00:00', N'Tuesday')
INSERT [dbo].[calendermaster] ([id], [date], [day]) VALUES (11, N'2017-01-04 00:00:00', N'Wednesday')
GO
SET IDENTITY_INSERT [dbo].[calendermaster] OFF
SET IDENTITY_INSERT [dbo].[contentmaster] ON 

INSERT [dbo].[contentmaster] ([id], [date], [timetableid], [description], [verify], [material], [remarks], [slotnumber]) VALUES (1, CAST(0x0000A76600000000 AS DateTime), 1, N'Today we look at stuff that you''d never know', 1, N'-- phpMyAdmin SQL Dump
-- version 4.6.5.2
-- https://www.phpmyadmin.net/
--
-- Host: 127.0.0.1
-- Generation Time: Apr 16, 2017 at 05:31 PM
-- Server version: 10.1.21-MariaDB
-- PHP Version: 7.1.1

SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";


/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

--
-- Database: `test`
--

-- --------------------------------------------------------

--
-- Table structure for table `attendence`
--

CREATE TABLE `attendence` (
  `studentid` int(11) NOT NULL,
  `courseid` int(11) NOT NULL,
  `teacherid` int(11) NOT NULL,
  `slotid` int(11) NOT NULL,
  `dayid` int(11) NOT NULL,
  `Entrydate` datetime NOT NULL,
  `Attendencedatae` datetime NOT NULL,
  `Attendencestatus` varchar(50) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

--
-- Dumping data for table `attendence`
--

INSERT INTO `attendence` (`studentid`, `courseid`, `teacherid`, `slotid`, `dayid`, `Entrydate`, `Attendencedatae`, `Attendencestatus`) VALUES
(1, 1, 1, 1, 1, ''2017-04-16 04:00:08'', ''2017-04-16 04:00:08'', ''''),
(1, 1, 1, 1, 1, ''2017-04-16 04:05:24'', ''2017-04-16 04:05:24'', ''P''),
(1, 1, 1, 1, 6, ''2017-04-16 04:57:27'', ''2017-04-16 04:57:27'', ''P'');

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
', N'', 0)
INSERT [dbo].[contentmaster] ([id], [date], [timetableid], [description], [verify], [material], [remarks], [slotnumber]) VALUES (2, CAST(0x0000A76600000000 AS DateTime), 2, N'somenew things', 1, N'', N'Some stuff', 0)
INSERT [dbo].[contentmaster] ([id], [date], [timetableid], [description], [verify], [material], [remarks], [slotnumber]) VALUES (7, CAST(0x0000A76600000000 AS DateTime), 3, N'day1 3 rdSlot', 1, N' ', N' ', 0)
SET IDENTITY_INSERT [dbo].[contentmaster] OFF
SET IDENTITY_INSERT [dbo].[coursemaster] ON 

INSERT [dbo].[coursemaster] ([id], [name], [fromdate], [todate], [course], [year]) VALUES (1, N'BEIT', CAST(0x00000000A33C0B0000 AS DateTime2), CAST(0x00000000C13C0B0000 AS DateTime2), N'IT', N'Fourth Year')
INSERT [dbo].[coursemaster] ([id], [name], [fromdate], [todate], [course], [year]) VALUES (3, N'FYBCOM', CAST(0x00000000843C0B0000 AS DateTime2), CAST(0x00000000593D0B0000 AS DateTime2), N'BCOM', N'First Year')
INSERT [dbo].[coursemaster] ([id], [name], [fromdate], [todate], [course], [year]) VALUES (4, N'SYBCOM', CAST(0x00000000843C0B0000 AS DateTime2), CAST(0x00000000593D0B0000 AS DateTime2), N'BCOM', N'Second Year')
SET IDENTITY_INSERT [dbo].[coursemaster] OFF
SET IDENTITY_INSERT [dbo].[daymaster] ON 

INSERT [dbo].[daymaster] ([id], [Dayname]) VALUES (1, N'Monday')
INSERT [dbo].[daymaster] ([id], [Dayname]) VALUES (2, N'Tuesday')
INSERT [dbo].[daymaster] ([id], [Dayname]) VALUES (3, N'Wednesday')
SET IDENTITY_INSERT [dbo].[daymaster] OFF
SET IDENTITY_INSERT [dbo].[EventMaster] ON 

INSERT [dbo].[EventMaster] ([EventId], [EventName], [Status]) VALUES (100, N'Cultural Fest', N'Active')
INSERT [dbo].[EventMaster] ([EventId], [EventName], [Status]) VALUES (101, N'Industrial Visit', N'Active')
INSERT [dbo].[EventMaster] ([EventId], [EventName], [Status]) VALUES (102, N'Presentation', N'Active')
SET IDENTITY_INSERT [dbo].[EventMaster] OFF
SET IDENTITY_INSERT [dbo].[location] ON 

INSERT [dbo].[location] ([id], [timetableid], [location]) VALUES (1, 1, N'Room number1')
INSERT [dbo].[location] ([id], [timetableid], [location]) VALUES (2, 2, N'Room number 2')
SET IDENTITY_INSERT [dbo].[location] OFF
SET IDENTITY_INSERT [dbo].[noticemap] ON 

INSERT [dbo].[noticemap] ([id], [noticeid], [courseid]) VALUES (1, 1, 1)
INSERT [dbo].[noticemap] ([id], [noticeid], [courseid]) VALUES (2, 2, 1)
INSERT [dbo].[noticemap] ([id], [noticeid], [courseid]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[noticemap] OFF
SET IDENTITY_INSERT [dbo].[notices] ON 

INSERT [dbo].[notices] ([id], [title], [content], [poster], [views], [attach], [postdate]) VALUES (1, N'asdf', N'asdfasdfasfdasdf', 1, NULL, NULL, CAST(0x00CEB300703C0B0000 AS DateTime2))
INSERT [dbo].[notices] ([id], [title], [content], [poster], [views], [attach], [postdate]) VALUES (2, N'XYZ', N'SDAFASDFASDFASDFasd', 2, 1, NULL, CAST(0x0019B600B73C0B0000 AS DateTime2))
INSERT [dbo].[notices] ([id], [title], [content], [poster], [views], [attach], [postdate]) VALUES (3, N'1234564', N'123312315', 3, 12, NULL, CAST(0x0030B600B73C0B0000 AS DateTime2))
SET IDENTITY_INSERT [dbo].[notices] OFF
SET IDENTITY_INSERT [dbo].[PendingAttendenceLog] ON 

INSERT [dbo].[PendingAttendenceLog] ([id], [studentid], [courseid], [teacherid], [slotid], [dayid], [Entrydate], [Attendencedatae], [Attendencestatus], [Subjectid], [eventid], [ApprovalStatus], [Approvedby], [approvalremark]) VALUES (4, 1, 1, 2, 1, 1, CAST(0x001B2A01C13C0B0000 AS DateTime2), CAST(0x00000000C83C0B0000 AS DateTime2), N'Present', 1, 100, N'Approved', 1, N'Test')
INSERT [dbo].[PendingAttendenceLog] ([id], [studentid], [courseid], [teacherid], [slotid], [dayid], [Entrydate], [Attendencedatae], [Attendencestatus], [Subjectid], [eventid], [ApprovalStatus], [Approvedby], [approvalremark]) VALUES (5, 1, 1, 3, 1, 2, CAST(0x001B2A01C13C0B0000 AS DateTime2), CAST(0x00000000C23C0B0000 AS DateTime2), N'Present', 2, 100, N'Approved', 1, N'Test')
INSERT [dbo].[PendingAttendenceLog] ([id], [studentid], [courseid], [teacherid], [slotid], [dayid], [Entrydate], [Attendencedatae], [Attendencestatus], [Subjectid], [eventid], [ApprovalStatus], [Approvedby], [approvalremark]) VALUES (6, 1, 1, 3, 1, 2, CAST(0x001B2A01C13C0B0000 AS DateTime2), CAST(0x00000000C93C0B0000 AS DateTime2), N'Present', 2, 100, N'Approved', 1, N'Test')
SET IDENTITY_INSERT [dbo].[PendingAttendenceLog] OFF
SET IDENTITY_INSERT [dbo].[slotmaster] ON 

INSERT [dbo].[slotmaster] ([id], [slotnumber], [courseid], [fromslot], [toslot]) VALUES (1, 1, 1, CAST(0x0040380000000000 AS Time), CAST(0x00300B0100000000 AS Time))
INSERT [dbo].[slotmaster] ([id], [slotnumber], [courseid], [fromslot], [toslot]) VALUES (2, 2, 1, CAST(0x0060540000000000 AS Time), CAST(0x0070620000000000 AS Time))
SET IDENTITY_INSERT [dbo].[slotmaster] OFF
SET IDENTITY_INSERT [dbo].[studentmaster] ON 

INSERT [dbo].[studentmaster] ([id], [enrollmentno], [name], [password], [longi], [lati], [reportedat]) VALUES (1, N'01240', N'Test1', N'Test1', CAST(72.8441 AS Decimal(10, 4)), CAST(19.2372 AS Decimal(10, 4)), CAST(0x007F0E00BA3C0B0000 AS DateTime2))
INSERT [dbo].[studentmaster] ([id], [enrollmentno], [name], [password], [longi], [lati], [reportedat]) VALUES (2, N'0234', N'Test2', N'Test2', CAST(72.8356 AS Decimal(10, 4)), CAST(19.0645 AS Decimal(10, 4)), CAST(0x00012200B63C0B0000 AS DateTime2))
INSERT [dbo].[studentmaster] ([id], [enrollmentno], [name], [password], [longi], [lati], [reportedat]) VALUES (3, N'0354', N'Test3', N'Test3', CAST(72.8466 AS Decimal(10, 4)), CAST(18.9921 AS Decimal(10, 4)), CAST(0x009A2600B63C0B0000 AS DateTime2))
SET IDENTITY_INSERT [dbo].[studentmaster] OFF
SET IDENTITY_INSERT [dbo].[subjectmaster] ON 

INSERT [dbo].[subjectmaster] ([id], [name], [course], [description]) VALUES (1, N'STQA', 1, N'Software Testing and Quality Assurance')
INSERT [dbo].[subjectmaster] ([id], [name], [course], [description]) VALUES (2, N'FAMT', 1, N'Financial technologies ')
INSERT [dbo].[subjectmaster] ([id], [name], [course], [description]) VALUES (3, N'LDAP', 1, N'Light weight directory access protocol')
SET IDENTITY_INSERT [dbo].[subjectmaster] OFF
SET IDENTITY_INSERT [dbo].[teachermaster] ON 

INSERT [dbo].[teachermaster] ([id], [username], [name], [description], [password], [longi], [lati], [reportedat], [privilege]) VALUES (1, NULL, N'Roanld Dough', N'Skilled one', N'', CAST(0.0000 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)), NULL, NULL)
INSERT [dbo].[teachermaster] ([id], [username], [name], [description], [password], [longi], [lati], [reportedat], [privilege]) VALUES (2, NULL, N'Peter Graggery', N'VC', N'', CAST(0.0000 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)), NULL, NULL)
INSERT [dbo].[teachermaster] ([id], [username], [name], [description], [password], [longi], [lati], [reportedat], [privilege]) VALUES (3, NULL, N'Stewart Benard', N'Gc', N'', CAST(0.0000 AS Decimal(10, 4)), CAST(0.0000 AS Decimal(10, 4)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[teachermaster] OFF
SET IDENTITY_INSERT [dbo].[timetablemaster] ON 

INSERT [dbo].[timetablemaster] ([id], [courseid], [slot], [subjectid], [dayid], [location]) VALUES (1, 1, 1, 1, 1, 1)
INSERT [dbo].[timetablemaster] ([id], [courseid], [slot], [subjectid], [dayid], [location]) VALUES (2, 1, 2, 2, 1, 2)
INSERT [dbo].[timetablemaster] ([id], [courseid], [slot], [subjectid], [dayid], [location]) VALUES (3, 1, 3, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[timetablemaster] OFF
ALTER TABLE [dbo].[contentmaster] ADD  CONSTRAINT [DF__contentma__verif__22AA2996]  DEFAULT ('0') FOR [verify]
GO
ALTER TABLE [dbo].[notices] ADD  CONSTRAINT [DF__notices__content__2D27B809]  DEFAULT (NULL) FOR [content]
GO
ALTER TABLE [dbo].[notices] ADD  CONSTRAINT [DF__notices__views__2E1BDC42]  DEFAULT (NULL) FOR [views]
GO
ALTER TABLE [dbo].[notices] ADD  CONSTRAINT [DF__notices__attach__2F10007B]  DEFAULT (NULL) FOR [attach]
GO
ALTER TABLE [dbo].[notices] ADD  CONSTRAINT [DF__notices__postdat__300424B4]  DEFAULT (getdate()) FOR [postdate]
GO
ALTER TABLE [dbo].[studentmaster] ADD  CONSTRAINT [DF__studentma__longi__34C8D9D1]  DEFAULT (NULL) FOR [longi]
GO
ALTER TABLE [dbo].[studentmaster] ADD  CONSTRAINT [DF__studentmas__lati__35BCFE0A]  DEFAULT (NULL) FOR [lati]
GO
ALTER TABLE [dbo].[studentmaster] ADD  CONSTRAINT [DF__studentma__repor__36B12243]  DEFAULT (NULL) FOR [reportedat]
GO
ALTER TABLE [dbo].[teachermaster] ADD  CONSTRAINT [DF__teacherma__longi__3B75D760]  DEFAULT (NULL) FOR [longi]
GO
ALTER TABLE [dbo].[teachermaster] ADD  CONSTRAINT [DF__teachermas__lati__3C69FB99]  DEFAULT (NULL) FOR [lati]
GO
ALTER TABLE [dbo].[teachermaster] ADD  CONSTRAINT [DF__teacherma__repor__3D5E1FD2]  DEFAULT (NULL) FOR [reportedat]
GO
USE [master]
GO
