USE [Okyc]
GO
/****** Object:  Table [dbo].[attendence]    Script Date: 5/14/2017 1:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[attendence](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentid] [int] NOT NULL,
	[courseid] [int] NOT NULL,
	[teacherid] [int] NOT NULL,
	[slotid] [int] NOT NULL,
	[dayid] [int] NOT NULL,
	[Entrydate] [datetime2](0) NOT NULL,
	[Attendencedatae] [datetime2](0) NOT NULL,
	[Attendencestatus] [varchar](50) NOT NULL,
	[Subjectid] [int] NOT NULL,
 CONSTRAINT [PK__attenden__3213E83F6F5612B7] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventMaster]    Script Date: 5/14/2017 1:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventMaster](
	[Eventid] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](500) NULL,
	[EventAddedBy] [int] NULL,
	[EventEnterydate] [datetime] NULL,
	[Fromdate] [date] NULL,
	[todate] [date] NULL,
	[fromtime] [time](7) NULL,
	[totime] [time](7) NULL,
	[studentid] [varchar](500) NULL,
	[EventStatus] [varchar](50) NULL,
 CONSTRAINT [PK_Eventmaster] PRIMARY KEY CLUSTERED 
(
	[Eventid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[timetablemaster]    Script Date: 5/14/2017 1:27:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[timetablemaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[courseid] [int] NOT NULL,
	[slotid] [int] NOT NULL,
	[subjectid] [int] NOT NULL,
	[dayid] [int] NOT NULL,
	[locationid] [int] NOT NULL,
	[ttDate] [datetime] NULL,
	[description] [varchar](max) NULL,
	[verify] [smallint] NULL,
	[material] [varchar](max) NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[attendence] ON 

INSERT [dbo].[attendence] ([id], [studentid], [courseid], [teacherid], [slotid], [dayid], [Entrydate], [Attendencedatae], [Attendencestatus], [Subjectid]) VALUES (1, 1, 1, 1, 2, 1, CAST(0x00000000BA3C0B0000 AS DateTime2), CAST(0x00000000BA3C0B0000 AS DateTime2), N'1', 2)
INSERT [dbo].[attendence] ([id], [studentid], [courseid], [teacherid], [slotid], [dayid], [Entrydate], [Attendencedatae], [Attendencestatus], [Subjectid]) VALUES (2, 2, 1, 1, 2, 1, CAST(0x00000000BA3C0B0000 AS DateTime2), CAST(0x00000000BA3C0B0000 AS DateTime2), N'1', 2)
INSERT [dbo].[attendence] ([id], [studentid], [courseid], [teacherid], [slotid], [dayid], [Entrydate], [Attendencedatae], [Attendencestatus], [Subjectid]) VALUES (3, 3, 1, 1, 2, 1, CAST(0x00000000BA3C0B0000 AS DateTime2), CAST(0x00000000BA3C0B0000 AS DateTime2), N'1', 2)
SET IDENTITY_INSERT [dbo].[attendence] OFF
SET IDENTITY_INSERT [dbo].[EventMaster] ON 

INSERT [dbo].[EventMaster] ([Eventid], [EventName], [EventAddedBy], [EventEnterydate], [Fromdate], [todate], [fromtime], [totime], [studentid], [EventStatus]) VALUES (1, N'Alegria', 1, CAST(0x0000A76F00D682A7 AS DateTime), CAST(0xCA3C0B00 AS Date), CAST(0xD43C0B00 AS Date), CAST(0x0700384D25190000 AS Time), CAST(0x0700A01187210000 AS Time), N'2', NULL)
INSERT [dbo].[EventMaster] ([Eventid], [EventName], [EventAddedBy], [EventEnterydate], [Fromdate], [todate], [fromtime], [totime], [studentid], [EventStatus]) VALUES (2, N'Alegria', 1, CAST(0x0000A76F00D71110 AS DateTime), CAST(0xCA3C0B00 AS Date), CAST(0xD43C0B00 AS Date), CAST(0x0700384D25190000 AS Time), CAST(0x0700A01187210000 AS Time), N'2', NULL)
INSERT [dbo].[EventMaster] ([Eventid], [EventName], [EventAddedBy], [EventEnterydate], [Fromdate], [todate], [fromtime], [totime], [studentid], [EventStatus]) VALUES (3, N'Alegria', 1, CAST(0x0000A76F00D9E861 AS DateTime), CAST(0xCA3C0B00 AS Date), CAST(0xD43C0B00 AS Date), CAST(0x0700384D25190000 AS Time), CAST(0x0700A01187210000 AS Time), N'1,2,3', NULL)
SET IDENTITY_INSERT [dbo].[EventMaster] OFF
SET IDENTITY_INSERT [dbo].[timetablemaster] ON 

INSERT [dbo].[timetablemaster] ([id], [courseid], [slotid], [subjectid], [dayid], [locationid], [ttDate], [description], [verify], [material], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, 1, 1, 1, 1, 1, CAST(0x0000A6EF00000000 AS DateTime), NULL, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[timetablemaster] ([id], [courseid], [slotid], [subjectid], [dayid], [locationid], [ttDate], [description], [verify], [material], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (2, 1, 2, 2, 1, 2, CAST(0x0000A6EF00000000 AS DateTime), NULL, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[timetablemaster] ([id], [courseid], [slotid], [subjectid], [dayid], [locationid], [ttDate], [description], [verify], [material], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (3, 1, 3, 3, 1, 1, CAST(0x0000A6EF00000000 AS DateTime), NULL, 1, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[timetablemaster] OFF
GO
